output/*
!output/.gitkeep
classy.egg-info/
dist/
delta_prime_cdm.txt
source/*.bak
*~
build/
class
*.prof
*.ini
libclass.a
*out
python/classy.cpp
*.pyc
python/build/
*.dSYM
RealSpaceInterface/cache/
.DS_Store
doc/manual/html
doc/manual/latex
